<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <h1>Camera System App</h1>
  <p>Watch videos</p>

  <%videos.forEach(video => { %>
    <video width="320" height="240" controls>
      <source src=<%=video.link%> type="video/mp4" />
    </video>
  <%});%>



  </video>
</body>

</html>